In [ ]:
#Import Library
import pandas as pd

In [ ]:
#Open the Data set
dataset=pd.read_csv("placement.csv")

In [ ]:
dataset

In [ ]:
dataset.info()

In [ ]:
dataset.columns

In [ ]:
dir(dataset)

In [ ]:
dataset.dtypes

In [ ]:
dataset["gender"].dtypes

In [ ]:
dataset["ssc_p"].dtypes

In [ ]:
for columnName in dataset.columns:
    print(columnName)

In [ ]:
if (dataset["gender"].dtypes)=='O':
    print("qual")
else:
    print("quan")

In [ ]:
if (dataset["salary"].dtypes)=='O':
    print("qual")
else:
    print("quan")

In [ ]:
quan=[]
qual=[]
for columnName in dataset.columns:
    #print(columnName)
    if (dataset[columnName].dtypes=='O'):
        #print("qual")
        qual.append(columnName)
    else:
        #print("quan")
        quan.append(columnName)

In [ ]:
def quanqual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
        #print(columnName)
        if (dataset[columnName].dtypes)=='O':
            #print("qual")
            qual.append(columnName)
        else:
            #print("quan")
            quan.append(columnName)  
    return quan,qual

In [ ]:
#Function recall

In [ ]:
quanqual(dataset)

In [ ]:
quan

qual

# Central Tendency

In [ ]:
dataset

In [ ]:
dataset["salary"].dtypes

In [ ]:
dataset["ssc_p"].dtypes

In [ ]:
dataset["ssc_p"].mean()

In [ ]:
dataset["ssc_p"].median()

In [ ]:
dataset["ssc_p"].mode()[0]

In [ ]:
dataset.describe()

In [ ]:
descriptive=pd.DataFrame()

In [ ]:
descriptive

In [ ]:
quan

In [ ]:
qual

In [ ]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)

In [ ]:
descriptive

In [ ]:
descriptive["hsc_p"]["Median"]=0

In [ ]:
descriptive

In [ ]:
descriptiv= pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for columnName in quan:
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]

In [ ]:
descriptive

In [41]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0